<form action="">
    
</form>
<section>
        <div id="accordion" class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-20 pr-5 xl:pr-20 relative mt-20 flex flex-col gap-4">
            <h2 class="font-comfortaa font-bold text-25 pl-35.5 pb-3">Часто задаваемые вопросы</h2>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">Как осуществляется доставка правильного питания?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">Можно ли менять время доставки\место?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">Как и в чем приезжает еда?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">Когда Вы готовите?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">Какие продукты Вы используете?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">Я буду есть одно и то же?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">У меня аллергия и непереносимость определенных продуктов</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">В какой очередности все есть?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
            <div class="accordion-item max-w-170 bg-blue-100 shadow-md rounded-3xl min-h-10">
                <h2 class="accordion-question pl-5 py-2.5 tracking-wide">Можно ли замораживать программу?</h2>
                <div class="accordion-answer hidden pl-5 py-2.5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quisquam ducimus dignissimos libero laudantium voluptates non commodi voluptatum dolore quos!</div>
            </div>
        </div>
</section>