<div class="overflow-hidden pt-22.5 -mt-22.5 md:pt-20.5 md:-mt-20.5 xl:pt-41 xl:-mt-41 md:pb-88 xl:pb-100 md:-mb-88 xl:-mb-100 ml-auto mr-auto">
    <div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-20 pr-5 xl:pr-20 relative xl:before:size-160 xl:before:bg-green-400 xl:before:rounded-full xl:before:absolute xl:before:-right-116.75 xl:before:-top-122.5 xl:before:-z-20 xl:before:shadow-xl"></div>
    <div class="swiper swiperBlog">
     <div
        class="swiper-navigation mt-14.75 md:mt-16.25 -mb-14.75 xl:mt-35.5 xl:-mb-43">
        <div class="swiper-pagination-top swiper-pagination__style-top ml-17 md:ml-39.25 gap-1.5 md:gap-1.75 xl:ml-110.5 xl:gap-3 inline-flex"></div>
        <div class="arrow__position-prev">
            <div class="swiper-button-prev blog__prev relative">
            <svg class="arrow_left">
                <use href="#icon-arrow-left"></use>
            </svg>
            </div>
        </div>
        <div class="arrow__position-next">
            <div class="swiper-button-next blog__next relative">
            <svg class="arrow_right">
                <use href="#icon-arrow-right"></use>
            </svg>
        </div>
        </div>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide ml-4 md:ml-20 xl:ml-0">
            <div class="flex mt-20 md:mt-22.25 xl:mt-55.5 ml-auto mr-auto xl:ml-91.5 gap-7.75 md:gap-7.5 xl:gap-6 max-w-80 md:max-w-180 xl:max-w-295 flex-wrap">
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide ml-0">
            <div class="flex mt-20 md:mt-22.25 xl:mt-55.5 ml-auto mr-auto xl:ml-91.5 gap-7.75 md:gap-7.5 xl:gap-6 max-w-80 md:max-w-180 xl:max-w-295 flex-wrap">
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide ml-0">
            <div class="flex mt-20 md:mt-22.25 xl:mt-55.5 ml-auto mr-auto xl:ml-91.5 gap-7.75 md:gap-7.5 xl:gap-6 max-w-80 md:max-w-180 xl:max-w-295 flex-wrap">
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-1.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:ml-2 xl:ml-2.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:ml-2 xl:ml-2.5 gap-26.5 md:gap-24.25 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.75 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 md:pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col md:mb-2.5 xl:mb-9">
                    <img src="./src/assets/img/blog-icon-2.png" alt="icon-blog-1" class="rounded-4xl shadow-md xl:w-95 md:w-67.5 w-70">
                    <h2 class="font-comfortaa font-bold text-sm xl:text-base mt-4.25 xl:mt-5 ml-2.75 md:-ml-0.75 xl:ml-1.5 md:max-w-61.5 xl:max-w-65 leading-4 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                    <div class="flex font-montserrat font-medium text-2xs xl:text-sm mt-1.75 xl:mt-5 ml-3 md:-ml-0.75 xl:ml-1.5 gap-26.5 md:gap-24.5 xl:gap-34">
                        <p class="text-blue-500 md:tracking-wide xl:tracking-normal">29.05.2020</p>
                        <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-27 md:w-27.25 xl:w-37.25 tracking-wide -mt-1.25 xl:-mt-2">
                            <button class="pl-4 md:pl-3.25 xl:pl-4.75 pt-0.75 xl:pt-1.5 pb-1 xl:pb-1.25">Подробнее</button>
                            <svg class="w-4 xl:w-45 h-6 absolute top-0 xl:top-1.25 left-20.5 xl:left-8.5">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden xl:block">
                    <div class="flex flex-col xl:-ml-2 xl:mb-9">
                        <img src="./src/assets/img/blog-icon-3.png" alt="icon-blog-1" class="rounded-4xl shadow-md">
                        <h2 class="font-comfortaa font-bold xl:text-base xl:mt-5 xl:ml-2.5 xl:max-w-65 xl:leading-4.5">Как поменять свои пищевые привычки?</h2>
                        <div class="flex font-montserrat font-medium xl:text-sm xl:mt-5 xl:ml-2.5 xl:gap-34">
                            <p class="text-blue-500">29.05.2020</p>
                            <a href="internal-page-blog.html" class="relative text-green-400 border-2 rounded-full border-green-400 bg-blue-100 hover:bg-green-400 hover:text-blue-100 w-37.25 tracking-wide xl:-mt-2">
                                <button class="xl:pl-4.75 xl:pt-1.5 xl:pb-1.25">Подробнее</button>
                                <svg class="w-45 h-6 absolute top-1.25 left-8.5">
                                    <use href="#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="swiper-navigation mt-4.5 md:mt-7 xl:mt-3.5">
        <div class="swiper-pagination-bottom swiper-pagination__style-bottom ml-17.5 md:ml-39.75 xl:ml-111 gap-2.75 xl:gap-4 inline-flex"></div>
        <div class="arrow__position-prev">
            <div class="swiper-button-prev blog__prev relative">
            <svg class="arrow_left">
                <use href="#icon-arrow-left"></use>
            </svg>
            </div>
        </div>
        <div class="arrow__position-next">
            <div class="swiper-button-next blog__next relative">
            <svg class="arrow_right">
                <use href="#icon-arrow-right"></use>
            </svg>
        </div>
        </div>
    </div>
</div>
</div>