<div class="overflow-hidden pt-22.5 -mt-22.5 -mb-103.75 md:pt-20.5 md:-mt-20.5 xl:pt-41 xl:-mt-41 md:pb-10 xl:pb-105 md:-mb-88 xl:-mb-105">
    <div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-20 pr-5 xl:pr-20 relative before:size-129.5 md:before:size-191.25 xl:before:size-323 before:bg-green-400 before:rounded-full before:absolute max-sm:-left-6.5 sm:before:-right-47.5 md:before:-right-106 xl:before:-right-160 before:-top-90.5 md:before:-top-42.75 xl:before:-top-60 before:-z-20 before:shadow-xl">
        <div class="flex flex-col justify-center h-210 max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto mt-0 xl:-mt-4 pl-5 pr-5 xl:pl-19.5 xl:pr-20 relative">
                <div class="max-w-64 md:max-w-65 xl:max-w-143 ml-7.5 md:ml-22.5 xl:-ml-18.5 -mt-70 md:-mt-103.5 xl:mt-24.25">
                    <h2 class="text-sm md:text-17 tracking-wide xl:text-32 font-bold font-comfortaa leading-4 md:leading-4.75 xl:leading-9 -ml-2.5 md:-ml-1.5 xl:-ml-0.25"><span class="text-nowrap md:text-wrap">Здравствуйте! Меня зовут</span> <span class="text-green-400">Кобылинский Кирилл,</span> и я являюсь <span class="text-green-400">основателем GastroChef.</span></h2>
                    <p class="font-comfortaa font-light text-2xs xl:text-xl mt-2.25 md:mt-5 xl:mt-10 -ml-2.5 md:-ml-1.5 xl:-ml-0.5 leading-2.75 xl:leading-5.5 max-w-42.25 md:max-w-40 xl:max-w-130">Я Мастер Спорта Украины по тяжёлой атлетике, а так же состоял в составе сборной Украины. 
                    </p>
                    <p class="font-comfortaa font-light text-2xs xl:text-xl mt-2.5 md:mt-2.5 xl:mt-5 -ml-2.5 md:-ml-1.5 xl:-ml-0.5 leading-2.75 xl:leading-5.5 max-w-64 md:max-w-60.75 xl:max-w-122"><span class="text-nowrap md:text-wrap">У меня высшее образование национального</span> <span class="text-nowrap md:text-wrap">университета физического воспитания</span> <span class="text-nowrap">и спорта Украины (НФВСУ), а так же в</span> <span class="text-nowrap md:text-wrap">прошлом я профессиональный фитнес</span> тренер!
                    </p>
                    <p class="font-comfortaa font-bold text-2xs xl:text-xl mt-2.5 md:mt-5 xl:mt-10 -ml-2 md:-ml-1 xl:ml-0.5 leading-2.75 xl:leading-5.5 max-w-36.25 md:max-w-45.5 xl:max-w-100 xl:before:size-54.75 xl:before:border-20 xl:before:rounded-full xl:before:border-green-500/10 xl:before:absolute xl:before:top-194 xl:before:right-78.25 xl:before:-z-30">И я хочу Вам рассказать побольше о GastroChef. 
                    </p>
                </div>
            </div>
                <img class="border-7 md:border-17 xl:border-38 border-blue-100 rounded-full shadow-lg size-32 md:size-77.5 xl:size-175 absolute top-1 md:top-12 xl:top-13.5 right-0 md:-right-6.25 xl:-right-59.5"
                src="./assets/img/banner-2.png" alt="banner-2">
        </div>
    </div>
</div>
