<div class="overflow-hidden pt-22.5 -mt-22.5 md:pt-20.5 md:-mt-20.5 xl:pt-41 xl:-mt-41 md:pb-88 xl:pb-100 -mb-px md:-mb-105 xl:-mb-119.25 ml-auto mr-auto">
    <div class="max-w-80 md:max-w-3xl xl:max-w-480 ml-auto mr-auto relative">
        <button class="font-montserrat font-medium text-xs xl:text-25 text-blue-100 bg-green-400 border-3 border-green-400 w-35.75 xl:w-73.75 rounded-full absolute tracking-wide pt-0.5 pb-0.5 top-7.5 right-1.25 md:right-24.5 md:top-1.5 md:pt-0.5 md:pb-0.5 xl:right-96.25 xl:-top-9.25 xl:pt-1.75 xl:pb-1.75 hover:bg-blue-100 hover:text-green-400">Оформить заказ</button>
        <div class="flex flex-wrap min-w-80 max-w-392.5">
            <div class="mt-16.75 ml-1.75 md:ml-21.5 md:mt-13.25 xl:ml-86.5 xl:mt-9">
            <img src="./src/assets/img/lunch-fish.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-154.25">
            <div class="flex font-comfortaa font-bold text-2xs xl:text-lg ml-4.75 mt-1.25 md:mt-1.25 md:ml-4.75 gap-8.75 md:gap-8.75 xl:mt-5.5 xl:ml-8.75 xl:gap-31.5">
                <h2>Бизнес-ланч “Рыбный”</h2>
                <div class="flex text-green-400 tracking-wide xl:mt-px gap-5.25 md:gap-5.25 xl:gap-13.75">
                    <span>250 г</span>
                    <span>346 ккал</span>
                </div>
            </div>
            <ol class="list-decimal list-inside font-montserrat font-medium text-3xs xl:text-sm tracking-wide ml-4.5 mt-3 md:ml-4.5 md:mt-3 xl:ml-8.25 xl:mt-2.75">
                <li>Бульон куриный с лапшой и яйцом</li>
                <li class="-mt-px">Рис жареный с курицей</li>
                <li class="-mt-px">Салат овощной с базиликово-медовой заправкой</li>
            </ol>
            <div class="flex mt-3.75 ml-4.75 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-3.75 xl:gap-3.75 xl:ml-8.75 xl:mt-8.25 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 xl:mt-px ml-3 xl:ml-3.75">1 порция \ 189 грн</span>
            </div>
            </div>
            <div class="mt-4.75 ml-1.75 md:mt-13.25 md:ml-3 xl:mt-9 xl:-ml-2.5">
            <img src="./src/assets/img/lunch-meat.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-154.25">
            <div class="flex font-comfortaa font-bold text-2xs xl:text-lg ml-4.75 mt-1.25 md:mt-1.25 md:ml-4.75 gap-8.75 md:gap-8.75 xl:mt-5.5 xl:ml-10 xl:gap-33.5">
                <h2>Бизнес-ланч “Мясной”</h2>
                <div class="flex text-green-400 tracking-wide xl:mt-px gap-5.25 md:gap-5.25 xl:gap-13.75">
                    <span>250 г</span>
                    <span>346 ккал</span>
                </div>
            </div>
            <ol class="list-decimal list-inside font-montserrat font-medium text-3xs xl:text-sm tracking-wide ml-4.5 mt-3 md:ml-4.5 md:mt-3 xl:ml-9.5 xl:mt-2.75">
                <li>Бульон куриный с лапшой и яйцом</li>
                <li class="-mt-px">Рис жареный с курицей</li>
                <li class="-mt-px">Салат овощной с базиликово-медовой заправкой</li>
            </ol>
            <div class="flex mt-3.75 ml-4.75 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-3.75 xl:gap-3.75 xl:ml-10 xl:mt-8.25 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 xl:mt-px ml-3 xl:ml-3.75">1 порция \ 189 грн</span>
            </div>
            </div>
            <div class="mt-5 ml-1.75 md:ml-21.5 md:mt-7.5 xl:ml-86.5 xl:mt-15">
            <img src="./src/assets/img/lunch-fish.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-154.25">
            <div class="flex font-comfortaa font-bold text-2xs xl:text-lg ml-4.75 mt-1.25 md:mt-1.25 md:ml-4.75 gap-8.75 md:gap-8.75 xl:mt-5.5 xl:ml-8.75 xl:gap-31.5">
                <h2>Бизнес-ланч “Рыбный”</h2>
                <div class="flex text-green-400 tracking-wide xl:mt-px gap-5.25 md:gap-5.25 xl:gap-13.75">
                    <span>250 г</span>
                    <span>346 ккал</span>
                </div>
            </div>
            <ol class="list-decimal list-inside font-montserrat font-medium text-3xs xl:text-sm tracking-wide ml-4.5 mt-3 md:ml-4.5 md:mt-3 xl:ml-8.25 xl:mt-2.75">
                <li>Бульон куриный с лапшой и яйцом</li>
                <li class="-mt-px">Рис жареный с курицей</li>
                <li class="-mt-px">Салат овощной с базиликово-медовой заправкой</li>
            </ol>
            <div class="flex mt-3.75 ml-4.75 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-3.75 xl:gap-3.75 xl:ml-8.75 xl:mt-8.25 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 xl:mt-px ml-3 xl:ml-3.75">1 порция \ 189 грн</span>
            </div>
            </div>
            <div class="mt-4.75 ml-1.75 md:mt-7.5 md:ml-3 xl:mt-15 xl:-ml-2.5">
            <img src="./src/assets/img/lunch-meat.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-154.25">
            <div class="flex font-comfortaa font-bold text-2xs xl:text-lg ml-4.75 mt-1.25 md:mt-1.25 md:ml-4.75 gap-8.75 md:gap-8.75 xl:mt-5.5 xl:ml-10 xl:gap-33.5">
                <h2>Бизнес-ланч “Мясной”</h2>
                <div class="flex text-green-400 tracking-wide xl:mt-px gap-5.25 md:gap-5.25 xl:gap-13.75">
                    <span>250 г</span>
                    <span>346 ккал</span>
                </div>
            </div>
            <ol class="list-decimal list-inside font-montserrat font-medium text-3xs xl:text-sm tracking-wide ml-4.5 mt-3 md:ml-4.5 md:mt-3 xl:ml-9.5 xl:mt-2.75">
                <li>Бульон куриный с лапшой и яйцом</li>
                <li class="-mt-px">Рис жареный с курицей</li>
                <li class="-mt-px">Салат овощной с базиликово-медовой заправкой</li>
            </ol>
            <div class="flex mt-3.75 ml-4.75 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-3.75 xl:gap-3.75 xl:ml-10 xl:mt-8.25 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 xl:mt-px ml-3 xl:ml-3.75">1 порция \ 189 грн</span>
            </div>
            </div>
            <div class="mt-5 ml-1.75 md:ml-21.5 md:mt-7.5 xl:ml-86.5 xl:mt-15">
            <img src="./src/assets/img/lunch-fish.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-154.25">
            <div class="flex font-comfortaa font-bold text-2xs xl:text-lg ml-4.75 mt-1.25 md:mt-1.25 md:ml-4.75 gap-8.75 md:gap-8.75 xl:mt-5.5 xl:ml-8.75 xl:gap-31.5">
                <h2>Бизнес-ланч “Рыбный”</h2>
                <div class="flex text-green-400 tracking-wide xl:mt-px gap-5.25 md:gap-5.25 xl:gap-13.75">
                    <span>250 г</span>
                    <span>346 ккал</span>
                </div>
            </div>
            <ol class="list-decimal list-inside font-montserrat font-medium text-3xs xl:text-sm tracking-wide ml-4.5 mt-3 md:ml-4.5 md:mt-3 xl:ml-8.25 xl:mt-2.75">
                <li>Бульон куриный с лапшой и яйцом</li>
                <li class="-mt-px">Рис жареный с курицей</li>
                <li class="-mt-px">Салат овощной с базиликово-медовой заправкой</li>
            </ol>
            <div class="flex mt-3.75 ml-4.75 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-3.75 xl:gap-3.75 xl:ml-8.75 xl:mt-8.25 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 xl:mt-px ml-3 xl:ml-3.75">1 порция \ 189 грн</span>
            </div>
            </div>
            <div class="mt-4.75 ml-1.75 md:mt-7.5 md:ml-3 xl:mt-15 xl:-ml-2.5">
            <img src="./src/assets/img/lunch-meat.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-154.25">
            <div class="flex font-comfortaa font-bold text-2xs xl:text-lg ml-4.75 mt-1.25 md:mt-1.25 md:ml-4.75 gap-8.75 md:gap-8.75 xl:mt-5.5 xl:ml-10 xl:gap-33.5">
                <h2>Бизнес-ланч “Мясной”</h2>
                <div class="flex text-green-400 tracking-wide xl:mt-px gap-5.25 md:gap-5.25 xl:gap-13.75">
                    <span>250 г</span>
                    <span>346 ккал</span>
                </div>
            </div>
            <ol class="list-decimal list-inside font-montserrat font-medium text-3xs xl:text-sm tracking-wide ml-4.5 mt-3 md:ml-4.5 md:mt-3 xl:ml-9.5 xl:mt-2.75">
                <li>Бульон куриный с лапшой и яйцом</li>
                <li class="-mt-px">Рис жареный с курицей</li>
                <li class="-mt-px">Салат овощной с базиликово-медовой заправкой</li>
            </ol>
            <div class="flex mt-3.75 ml-4.75 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-3.75 xl:gap-3.75 xl:ml-10 xl:mt-8.25 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 xl:mt-px ml-3 xl:ml-3.75">1 порция \ 189 грн</span>
            </div>
            </div>
        </div>
    </div>
</div>