<div class="overflow-hidden pt-22.5 -mt-22.5 md:pt-20.5 md:-mt-20.5 xl:pt-41 xl:-mt-41 md:pb-88 xl:pb-100 -mb-px md:-mb-105 xl:-mb-119.25 ml-auto mr-auto">
    <div class="max-w-80 md:max-w-3xl xl:max-w-480 ml-auto mr-auto relative">
        <div class="flex md:gap-3.75 xl:gap-3.75 absolute top-8 left-4 gap-3.75 md:left-31 md:top-2.25 xl:-top-6 xl:left-99">
                <a href="blog.html" class="size-5.5 md:size-5.75 xl:size-7.5 bg-blue-600 rounded-full relative ">
                <svg class="size-3.5 xl:size-6 absolute top-1 left-0.75 md:top-1.25 md:left-1 xl:top-0.75 xl:left-0.5">
                    <use href="#icon-arrow-left"></use>
                </svg>
                </a>
                <p class="font-comfortaa font-bold text-xs xl:text-lg text-grey-950 mt-0.75 md:mt-1 xl:mt-px">Назад</p>
            </div>
        <button class="font-montserrat font-medium text-xs xl:text-25 text-blue-100 bg-green-400 border-3 border-green-400 w-35.75 xl:w-73.75 rounded-full absolute tracking-wide pt-0.5 pb-0.5 top-7.5 right-1.25 md:right-24.5 md:top-1.5 md:pt-0.5 md:pb-0.5 xl:right-96.25 xl:-top-9.25 xl:pt-1.75 xl:pb-1.75 hover:bg-blue-100 hover:text-green-400">Оформить заказ</button>
        <div class="flex flex-wrap min-w-80 max-w-392.5 z-20">
            <div class="mt-16.75 ml-1.5 md:ml-21.5 md:mt-13.25 xl:ml-86.5 xl:mt-9">
            <img src="./src/assets/img/candy-catalog.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-155">
            <h2 class="font-comfortaa font-bold text-2xs xl:text-lg ml-4.25 mt-1 md:mt-1 md:ml-4 md:max-w-47.75 xl:ml-8.75 xl:mt-1.5 xl:max-w-85.75">Имбирные конфеты с апельсином</h2>
            <p class="font-montserrat font-normal text-3xs xl:text-sm tracking-wide ml-4.25 md:ml-4 mt-2 leading-2.75 max-w-58.25 xl:ml-8.75 xl:mt-4.25 xl:leading-4.75 xl:max-w-132.5"><span class="font-medium">Состав:</span> Подсушенный миндаль, медовые финики, пряный имбирь, апельсин, миндальные лепестки. <span class="font-medium">Не содержат сахара!</span></p>
            <div class="flex font-bold font-comfortaa text-2xs xl:text-lg mt-1.75 ml-4.25 md:ml-4 gap-2 xl:mt-2.5 xl:ml-8.75 xl:gap-7.5">
                <span>Белки - 8</span>
                <span>Жиры - 20</span>
                <span class="xl:ml-px">Углеводы - 36</span>
                <span class="md:-ml-0.75 xl:ml-0">346 ккал</span>
            </div>
            <div class="flex mt-2.25 ml-4.5 gap-2.25 md:gap-2.25 md:ml-4 md:mt-2.25 xl:gap-3.75 xl:ml-8.75 xl:mt-5.5 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 ml-0.75 md:ml-1 xl:ml-2.75 xl:-mt-0.5">26 грн / 1 шт</span>
            </div>
            </div>
            <div class="mt-5.25 ml-1.5 md:mt-13.25 md:ml-3 xl:mt-9 xl:-ml-5">
            <img src="./src/assets/img/candy-catalog.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-155">
            <h2 class="font-comfortaa font-bold text-2xs xl:text-lg ml-4.25 mt-1.25 md:mt-1 md:ml-4.75 md:max-w-47.75 xl:ml-8.75 xl:mt-1.5 xl:max-w-85.75">Имбирные конфеты с апельсином</h2>
            <p class="font-montserrat font-normal text-3xs xl:text-sm tracking-wide ml-4.25 max-w-57.5 md:ml-4.75 mt-2 leading-2.75 md:max-w-58.25 xl:ml-8.75 xl:mt-4.25 xl:leading-4.75 xl:max-w-132.5"><span class="font-medium">Состав:</span> Подсушенный миндаль, медовые финики, пряный имбирь, апельсин, миндальные лепестки. <span class="font-medium">Не содержат сахара!</span></p>
            <div class="flex font-bold font-comfortaa text-2xs xl:text-lg mt-1.75 ml-4.25 md:mt-1.75 md:ml-4.75 gap-2 xl:mt-2.5 xl:ml-8.75 xl:gap-7.5">
                <span>Белки - 8</span>
                <span>Жиры - 20</span>
                <span class="xl:ml-px">Углеводы - 36</span>
                <span class="md:-ml-0.75 xl:ml-0">346 ккал</span>
            </div>
            <div class="flex mt-2.25 ml-4.25 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-2.25 xl:gap-3.75 xl:ml-8.75 xl:mt-5.5 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 ml-1 md:ml-1 xl:ml-2.75 xl:-mt-0.5">26 грн / 1 шт</span>
            </div>
            </div>
            <div class="mt-5.25 ml-1.5 md:ml-21.5 md:mt-7.25 xl:ml-86.5 xl:mt-10.5">
            <img src="./src/assets/img/candy-catalog.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-155">
            <h2 class="font-comfortaa font-bold text-2xs xl:text-lg ml-4.25 mt-1 md:mt-1 md:ml-4 md:max-w-47.75 xl:ml-8.75 xl:mt-1.5 xl:max-w-85.75">Имбирные конфеты с апельсином</h2>
            <p class="font-montserrat font-normal text-3xs xl:text-sm tracking-wide ml-4.25 md:ml-4 mt-2 leading-2.75 max-w-58.25 xl:ml-8.75 xl:mt-4.25 xl:leading-4.75 xl:max-w-132.5"><span class="font-medium">Состав:</span> Подсушенный миндаль, медовые финики, пряный имбирь, апельсин, миндальные лепестки. <span class="font-medium">Не содержат сахара!</span></p>
            <div class="flex font-bold font-comfortaa text-2xs xl:text-lg mt-1.75 ml-4.25 md:ml-4 gap-2 xl:mt-2.5 xl:ml-8.75 xl:gap-7.5">
                <span>Белки - 8</span>
                <span>Жиры - 20</span>
                <span class="xl:ml-px">Углеводы - 36</span>
                <span class="md:-ml-0.75 xl:ml-0">346 ккал</span>
            </div>
            <div class="flex mt-2.25 ml-4.5 gap-2.25 md:gap-2.25 md:ml-4 md:mt-2.25 xl:gap-3.75 xl:ml-8.75 xl:mt-5.5 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 ml-0.75 md:ml-1 xl:ml-2.75 xl:-mt-0.5">26 грн / 1 шт</span>
            </div>
            </div>
            <div class="mt-5 ml-1.5 md:mt-7.25 md:ml-3 xl:mt-10.5 xl:-ml-5">
            <img src="./src/assets/img/candy-catalog.png" alt="lunch-fish" class="w-74.5 md:w-72 xl:w-155">
            <h2 class="font-comfortaa font-bold text-2xs xl:text-lg ml-4.25 mt-1.25 md:mt-1 md:ml-4.75 md:max-w-47.75 xl:ml-8.75 xl:mt-1.5 xl:max-w-85.75">Имбирные конфеты с апельсином</h2>
            <p class="font-montserrat font-normal text-3xs xl:text-sm tracking-wide ml-4.25 max-w-57.5 md:ml-4.75 mt-2 leading-2.75 md:max-w-58.25 xl:ml-8.75 xl:mt-4.25 xl:leading-4.75 xl:max-w-132.5"><span class="font-medium">Состав:</span> Подсушенный миндаль, медовые финики, пряный имбирь, апельсин, миндальные лепестки. <span class="font-medium">Не содержат сахара!</span></p>
            <div class="flex font-bold font-comfortaa text-2xs xl:text-lg mt-1.75 ml-4.25 md:mt-1.75 md:ml-4.75 gap-2 xl:mt-2.5 xl:ml-8.75 xl:gap-7.5">
                <span>Белки - 8</span>
                <span>Жиры - 20</span>
                <span class="xl:ml-px">Углеводы - 36</span>
                <span class="md:-ml-0.75 xl:ml-0">346 ккал</span>
            </div>
            <div class="flex mt-2.25 ml-4.25 gap-2.25 md:gap-2.25 md:ml-4.75 md:mt-2.25 xl:gap-3.75 xl:ml-8.75 xl:mt-5.5 font-montserrat font-normal text-xs xl:text-xl">
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-red-500">-</button>
                <span class="font-bold text-green-400 xl:mt-px">1</span>
                <button class="xl:size-7.5 size-3.75 bg-blue-600 rounded-full font-normal hover:bg-green-400">+</button>
                <span class="font-bold text-green-400 ml-1 md:ml-1 xl:ml-2.75 xl:-mt-0.5">26 грн / 1 шт</span>
            </div>
            </div>
        </div>
    </div>
</div>