<div class="max-w-xs bg-blue-100 shadow-lg md:max-w-3xl xl:max-w-480 w-full ml-auto mr-auto mt-15.25 md:mt-24.25 xl:mt-37.75 mb-10 pl-4 pr-3 xl:pl-19.5 xl:pr-17.5 relative z-10">
    <div class="flex flex-col md:flex-row pb-12.25 md:pb-6.5 xl:pb-10.25">
        <div class="hidden md:flex flex-col font-comfortaa font-bold text-sm xl:text-xl md:ml-3.75 md:mt-7 md:gap-2 xl:ml-71 xl:mt-9.5 xl:gap-2.75">
        <a href="#">Програмы питания</a>
        <a href="#">О нас</a>
        <a href="#">Бизнес-ланчи</a>
        <a href="#">Gastro Shop</a>
        <a href="#">Блог</a>
        </div>
        <div class="mt-10 ml-11 md:mt-6.75 md:ml-22.5 xl:mt-9.5 xl:ml-57.25 flex flex-col gap-2 md:gap-1.75 xl:gap-2.5">
            <img src="./src/assets/img/logo.png" alt="logo" class="w-48 xl:w-67.5">
            <p class="font-normal font-comfortaa text-sm xl:text-xl -ml-2 xl:-ml-3.5">сервис здорового питания</p>
        </div>
        <div class="font-comfortaa font-bold text-sm xl:text-xl flex flex-col text-end md:ml-26.25 md:mt-7.5 gap-2.5 xl:ml-62.5 xl:mt-10.25 xl:gap-4">
            <a href="#" class="md:w-34.5 xl:xl:w-49 md:leading-4 xl:leading-5.5 hidden md:block">Условия сотрудничества</a>
            <a href="#" class="md:w-34.5 xl:xl:w-49 hidden md:block">FAQ</a>
            <div class="flex gap-2.75 xl:gap-3.75 ml-20.5 mt-5.5 md:ml-5.25 md:mt-0.5 xl:ml-7.5 xl:mt-0.5">
                <a href="#" class="size-5.25 xl:size-7.5 bg-gray-950 rounded-full flex items-center justify-center">
                <svg class="size-2.75 xl:size-5 text-blue-100">
                    <use href="#icon-instagram"></use>
                </svg>
                </a>
                <a href="#" class="size-5.25 xl:size-7.5 bg-gray-950 rounded-full flex items-center justify-center">
                    <svg class="size-5.25 xl:size-7.5 text-blue-100">
                        <use href="#icon-facebook"></use>
                    </svg>
                </a>
                <a href="#" class="size-5.25 xl:size-7.5 bg-gray-950 rounded-full flex items-center justify-center">
                    <svg class="size-2.75 xl:size-4.5 text-blue-100">
                        <use href="#icon-viber"></use>
                    </svg>
                </a>
                <a href="#" class="size-5.25 xl:size-7.5 bg-gray-950 rounded-full flex items-center justify-center">
                    <svg class="size-2.75 xl:size-5 text-blue-100">
                        <use href="#icon-telegram"></use>
                    </svg>
                </a>
            </div>
            <a href="tel:+380689494919" class="font-montserrat text-green-400 mr-13.25 md:-ml-9.5 md:mr-0.5 xl:-ml-7.5 xl:-mt-0.75 xl:mr-0">+38 (068) 949 - 49 - 19</a>
        </div>
    </div>
</div>