<div class="overflow-hidden md:pb-88 xl:pb-105 md:-mb-88 xl:-mb-129.5">
<div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-20 pr-5 xl:pr-20 relative">
    <div class="xl:mt-75.75 xl:mb-50 xl:ml-126.25 xl:after:size-106.75 xl:before:size-136.25 xl:before:bg-green-500/10 xl:before:rounded-full xl:before:absolute xl:before:-top-64.75 xl:before:-left-31 xl:after:border-30 xl:after:rounded-full xl:after:border-green-500/10 xl:after:absolute xl:after:-top-74.5 xl:after:-right-108.5 xl:after:-z-30">
        <h2 class="font-comfortaa font-bold xl:text-32 xl:max-w-150 xl:leading-9">История GastroChef началась более 6-ти лет назад...</h2>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-165 xl:leading-5.5 xl:mt-10">Долгое время я наблюдал как людям не хватает времени для правильного и здорового питания, какое правильного, просто питания регулярного.</p>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-165 xl:leading-5.5 xl:mt-5">Они могли позавтракать, в обед съесть что-то типа шаурмы или снэка, а вечером в силу голода наесться, что плохо сказывалось на их обмене веществ и естественно здоровье.</p>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-165 xl:leading-5.5 xl:mt-5">Желание хоть как-то изменить ситуацию и помочь людям не давало мне покоя и я решил открыть доставку</p>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-165 xl:leading-5.5 xl:mt-0">еды правильного питания.</p>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-130 xl:leading-5.5 xl:mt-5">Я со своим 17-и летним опытом в спорте</p>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-130 xl:leading-5.5 xl:mt-0">и проф. образованием, вместе с диетологом разработали рационы правильного питания с подсчетом калорий (КБЖУ).</p>
        <h2 class="font-comfortaa font-bold text-32 mt-16 xl:before:border-30 xl:before:border-green-500/10 xl:before:absolute xl:before:top-132.25 xl:before:-right-89.75 xl:before:size-132.5 xl:before:rounded-full xl:before:-z-10">Знакомтесь! Команда GastroChef!</h2>
        <img src="./assets/img/preview.png" alt="preview" class="absolute xl:-top-60.75 xl:-left-71.25">
    </div>
</div>
</div>
