<div class="overflow-hidden md:pb-88 xl:pb-105 md:-mb-88 xl:-mb-129.5">
<div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto p-5 xl:pl-20 pr-5 xl:pr-20 relative">
    <img src="./assets/img/food-photo.png" alt="preview" class="absolute top-15.75 right-0.75 md:top-17.75 md:-right-7.75 xl:top-28.5 xl:-right-73.75 min-w-97.75 h-73.25 md:w-136 md:h-100.5 xl:w-280 xl:h-208.5">
    <div class="max-w-70 md:max-w-87.5 xl:max-w-165 mt-100.75 ml-auto mr-auto pl-1 md:pl-0 md:mt-20.75 md:ml-10.75 xl:mt-50.75 xl:mb-50 xl:ml-1.25 xl:before:size-151 xl:before:bg-green-500/10 xl:before:rounded-full xl:before:absolute xl:before:top-24 xl:before:-right-22.75 xl:before:-z-10 xl:after:border-15 xl:after:size-46.25 xl:after:rounded-full xl:after:border-green-500/10 xl:after:absolute xl:after:-top-16.25 xl:after:-left-11.25 xl:after:-z-30">
        <h2 class="font-comfortaa font-bold text-lg xl:text-32 max-w-50 md:max-w-100 xl:max-w-150 leading-5 xl:leading-9">«GastroChef - легко для занятых»</h2>
        <p class="font-comfortaa font-light text-xs xl:text-xl md:max-w-85 xl:max-w-146 leading-3.25 xl:leading-5.5 mt-7.5 md:mt-7.5 xl:mt-10">GastroChef - правильное питание с доставкой на дом, создано что бы облегчить жизнь, освободить время от готовки, от ненужных перекусов, фастфудов и дать возможность чувствовать себя легко и полным энергии, сил, для новых свершений и побед.</p>
        <p class="font-comfortaa font-light text-xs xl:text-xl md:max-w-81 xl:max-w-145 leading-3.25 xl:leading-5.5 mt-5">Все продукты для приготовления правильного питания закупаются только с сертификатами, а рационы готовятся на современной и безопасной кухне ночью перед приездом к Вам!</p>
        <p class="font-comfortaa font-bold text-xs xl:text-xl md:max-w-69.25 xl:max-w-150 leading-3.25 xl:leading-5.5 mt-7.5 md:mt-7.5 xl:mt-10">Друзья, если у Вас остались вопросы Вы c легкостью можете позвонить нам или написать мне лично в Инстаграм или Фейсбук.</p>
        <h2 class="font-comfortaa font-bold text-lg xl:text-32 mt-5 md:mt-5 xl:mt-9.5 xl:before:border-30 leading-5 xl:before:border-green-500/10 xl:before:absolute xl:before:top-155 xl:before:-left-133.25 xl:before:size-130 xl:before:rounded-full">С уважением, Кобылинский Кирилл.</h2>
        <div class="flex gap-3.75 xl:gap-3.75 mt-2.5 ml-5 md:mt-3.75 md:ml-5 xl:mt-5.75 xl:ml-5">
            <a href="#"
            class="size-5 md:size-5 xl:size-7.5 bg-gray-950 text-blue-100 rounded-full flex items-center justify-center">
            <svg class="size-3 md:size-3.5 xl:size-5">
                <use href="#icon-instagram"></use>
            </svg>
        </a>
        <a href="#"
        class="size-5 xl:size-7.75 bg-gray-950 text-blue-100 rounded-full flex items-center justify-center">
        <svg>
            <use href="#icon-facebook"></use>
        </svg>
                </a>
                <span class="font-montserrat text-xs xl:text-xl md:pl-1.5 pt-0.5 xl:pl-1 xl:pt-0.25">- Я в социальных сетях</span>
            </div>
        </div>
</div>
</div>
