<div class="overflow-hidden md:pb-88 xl:pb-105 md:-mb-88 xl:-mb-129.5">
<div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-20 pr-5 xl:pr-20 relative">
    <img src="./assets/img/food-photo.png" alt="preview" class="absolute xl:-top-27.25 xl:-right-73.75">
    <div class="xl:mt-50.75 xl:mb-50 xl:ml-1.25 xl:before:size-151 xl:before:bg-green-500/10 xl:before:rounded-full xl:before:absolute xl:before:-top-31.75 xl:before:-right-22.75 xl:after:border-15 xl:after:size-46.25 xl:after:rounded-full xl:after:border-green-500/10 xl:after:absolute xl:after:-top-71.5 xl:after:-left-11.25 xl:after:-z-30">
        <h2 class="font-comfortaa font-bold xl:text-32 xl:max-w-150 xl:leading-9">«GastroChef - легко для занятых»</h2>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-146 xl:leading-5.5 xl:mt-10">GastroChef - правильное питание с доставкой на дом, создано что бы облегчить жизнь, освободить время от готовки, от ненужных перекусов, фастфудов и дать возможность чувствовать себя легко и полным энергии, сил, для новых свершений и побед.</p>
        <p class="font-comfortaa font-light xl:text-xl xl:max-w-145 xl:leading-5.5 xl:mt-5">Все продукты для приготовления правильного питания закупаются только с сертификатами, а рационы готовятся на современной и безопасной кухне ночью перед приездом к Вам!</p>
        <p class="font-comfortaa font-bold xl:text-xl xl:max-w-150 xl:leading-5.5 xl:mt-10">Друзья, если у Вас остались вопросы Вы с легкостью можете позвонить нам или написать мне лично в Инстаграм или Фейсбук.</p>
        <h2 class="font-comfortaa font-bold text-32 mt-6 xl:before:border-30 xl:before:border-green-500/10 xl:before:absolute xl:before:top-74.25 xl:before:-left-133.25 xl:before:size-130 xl:before:rounded-full">С уважением, Кобылинский Кирилл.</h2>
        <div class="flex gap-3.75 xl:mt-2.25 xl:ml-5">
            <a href="#"
                    class="md:size-5.5 xl:size-7.5 bg-gray-950 text-blue-100 rounded-full flex items-center justify-center">
                    <svg class="size-5.5 md:size-3.5 xl:size-5">
                        <use href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#"
                    class="size-5.5 xl:size-7.75 bg-gray-950 text-blue-100 rounded-full flex items-center justify-center">
                    <svg>
                        <use href="#icon-facebook"></use>
                    </svg>
                </a>
            <span class="font-montserrat text-xl xl:pl-1 xl:pt-0.25">- Я в социальных сетях</span>
        </div>
    </div>
</div>
</div>
