<div class="overflow-hidden pt-22.5 -mt-22.5 md:pt-20.5 md:-mt-20.5 xl:pt-41 xl:-mt-41 md:pb-88 xl:pb-100 -mb-px md:-mb-105 xl:-mb-119.25 ml-auto mr-auto">
    <div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-20 pr-5 xl:pr-20 relative xl:before:size-160 xl:before:bg-green-400 xl:before:rounded-full xl:before:absolute xl:before:-right-116.75 xl:before:-top-122.5 xl:before:-z-20 xl:before:shadow-xl"></div>
        <div class="ml-auto mr-auto overflow-clip flex flex-col max-w-80 md:max-w-3xl xl:max-w-480 h-91.75 md:h-80 xl:h-115 before:absolute before:inset-0 before:bg-gray-950/70 before:-z-30 relative mt-3.25 md:mt-6.25 xl:mt-5.5">
        <img src="./src/assets/img/candy-1.png" alt="candy-1" class="h-87.75 max-w-139.5 top-30.5 -left-56.5 xl:min-w-238.5 xl:h-149 xl:top-27.5 xl:left-66.25 absolute -z-40 block md:hidden xl:block">
        <img src="./src/assets/img/candy-2.png" alt="candy-2" class="xl:w-121.5 xl:h-115 absolute xl:top-0 xl:-right-4 -z-40 hidden xl:block">
        <img src="./src/assets/img/candy-desktop.png" alt="candy-desktop" class="w-162.5 h-80 top-0 -left-1 absolute -z-40 hidden md:block xl:hidden">
        <h2 class="text-blue-100 font-comfortaa font-bold text-lg md:text-xl ml-2.25 mt-7 md:mt-7.5 md:ml-3 xl:text-25 tracking-wide text-center xl:mt-12.5 xl:ml-2.75">Полезные конфеты</h2>
        <div class="text-center flex flex-col max-w-63.25 md:max-w-142 xl:max-w-232 text-blue-100 font-comfortaa text-2xs md:text-xs xl:text-lg tracking-wide font-normal ml-7.25 mt-2 gap-3.25 md:ml-23.5 md:mt-4.75 md:gap-4 xl:ml-122.25 xl:mt-7 xl:gap-6 leading-3.25 md:leading-4 xl:leading-6 ">
            <p>Представляем сладкую коллекцию полезных конфет. Созданы с любовью и изготовлены из натуральных продуктов без добавления сахара - с заботой о вас и ваших близких!</p>
            <p>Стоимость доставки 60 грн по предварительному заказу (за 1 сутки). Предварительный заказ предполагает доставку на следующий день с 6:00-10:00. Минимальный заказ - от 6 конфет. Вес 1 кофетки 25 г.</p>
            <p class="font-bold">Заказы "на завтра" принимаются до 11-00 текущего дня.</p>
            <p>Конфеты доставляются в прозрачных пакетах со стикером. Вы можете заказать подарочный бокс с лентой стоимостью 20 грн</p>
        </div>
        </div>
</div>