.swiper {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: var(--color-green-400);

    .swiper-button-prev,
    .swiper-button-next {
        left: 5px;
        transition: 0.3s;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

         
        }
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        top: calc(30% + 1px);
    }

    .swiper-button-prev {
        &:hover {
            --swiper-navigation-size: 34px;
            left: 0;
        }
    }

    .swiper-button-next {
        right: 5px;

        &:hover {
            --swiper-navigation-size: 34px;
            right: 0;
        }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        --size: 13px;
        margin: 0  2px;
        width: var(--size);
        height: var(--size);
        background: transparent;
        opacity: 1;
        transition: 0.3s;
        position: relative;

        svg {
            --size: 14px;
            transition: 0.3s;
            width: var(--size);
            height: var(--size);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            svg {
                --size: 19.6px;
                width: var(--size);
                height: var(--size);
            }
        }
    }

    .swiper-pagination-bullet-active {
        svg {
            --size: 19.6px;
            width: var(--size);
            height: var(--size);
        }

        .inner {
            stroke-dashoffset: -23.96;
        }
    }
}

.bullet-svg .inner {
    transition: stroke-dashoffset 0.5s;
}

.btn {
    background-color: var(--color-green-400);
    padding: 12px 24px;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        background-color: var(--color-green-500);
    }
}

.active {
    background-color: orange;
}

.tab-content {
    border: 1px solid;
    display: none;
    &.show {
        display: block;
    }
}

.accordion-question {
    position: relative;
    &_active:before{
        transform: rotate(90deg);
    }
    &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07112 8.07112C8.46164 7.6806 8.46164 7.04743 8.07112 6.65691L1.70716 0.292946C1.31664 -0.0975785 0.68347 -0.0975785 0.292946 0.292946C-0.0975785 0.68347 -0.0975785 1.31664 0.292946 1.70716L5.9498 7.36401L0.292946 13.0209C-0.0975785 13.4114 -0.0975785 14.0446 0.292946 14.4351C0.68347 14.8256 1.31664 14.8256 1.70716 14.4351L8.07112 8.07112ZM6.36401 7.36401V8.36401H7.36401V7.36401V6.36401H6.36401V7.36401Z' fill='black'/%3E%3C/svg%3E");
        position: absolute;
        top: 14px;
        right: 18px;
        content: "";
        width: 9px;
        height: 15px;
        transition: transform 0.3s;
    }
}

.input-box {
    display: flex;
    flex-direction: column;
    &_control {
        flex-direction: row;
        position: relative;
        & label {
            padding-left: 50px;
            line-height: 26px;
            margin-bottom: 15px;
        }
    }
}

input[type="checkbox"] {
    display: none;
    & + label {
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: 4px;
            background-color: #DEE6EE;
            border-radius: 50%;
        }
        &::after {
            content: "";
            --size: 0;
            width: var(--size);
            height: var(--size);
            position: absolute;
            top: 13px;
            left: 17px;
            border-radius: 50%;
            transition: 0.4s;
            background-color: #64D370;
        }
        &:hover::after {
            content: "";
            --size: 6px;
            top: 9px;
            left: 14px;
        }
    }
    &:checked + label::after {
        content: "";
        --size: 12px;
        top: 6px;
        left: 10px;
    }
}
