.burger.is-active .burger__icon {
    top: 7px;
    transform: rotate(45deg);
}

.burger.is-active .burger__icon::before {
    top: 0;
    transform: rotate(-90deg);
    left: 0;
    width: 100%;
}

.burger.is-active .burger__icon::after {
    opacity: 0;
    top: 0;
    transform: rotate(-90deg);
}

.burger__icon-wrapper {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 20px;
}

.burger__icon,
.burger__icon::before,
.burger__icon::after {
    background-color: var(--color-grey-950);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: left 0.3s, top 0.3s, transform 0.3s;
}

.burger__icon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.burger__icon::before,
.burger__icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.burger__icon::before {
    top: 7px;
    width: 20px;
    left: 5px;
}

.burger__icon::after {
    top: 14px;
}

.swiper {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: var(--color-green-400);

    .swiper-navigation {
        display: flex;
        align-items: center;
        width: 200px;
        margin: 0 0 -3px 0;

        .swiper-pagination {

            span.swiper-pagination-bullet {
                opacity: 1;
                border: 2px solid var(--color-green-400);
                background-color: transparent;
                width: 10px;
                height: 10px;
                transition: 0.3s width, 0.3s height;
                margin: 0 5.5px;

                &.swiper-pagination-bullet-active {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}