.swiper {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: var(--color-green-400);

    .swiper-navigation {
        display: flex;
        align-items: center;
        margin: 0 0 -3px 0;

        .swiper-pagination {

            span.swiper-pagination-bullet {
                opacity: 1;
                border: 2px solid var(--color-green-400);
                background-color: transparent;
                width: 10px;
                height: 10px;
                transition: 0.3s width, 0.3s height;
                margin: 0 5.5px;

                &.swiper-pagination-bullet-active {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}